<header class="flex flex-col items-center my-4 font-arial">
    <div class="flex my-1 space-y-1">
        <a href="/" class="text-3xl text-gray-800 font-bold">
            <h1>Himajin No Tararira</h1>
        </a>
        <div class="absolute right-6">
            <div class="flex text-gray-600  space-x-2 text-2xl">
                <a href="https://x.com/watya1_house" ><i class="hover:text-gray-800 fa-brands fa-x-twitter "></i></a>
                <a href="https://www.instagram.com/watya.1" ><i class="hover:text-gray-800 fa-brands fa-instagram "></i></a>
                <a href="https://github.com/watya1" ><i class="hover:text-gray-800 fa-brands fa-github "></i></a>
            </div>
        </div>
    </div>
    <div>
        <nav class="flex text-gray-600 space-x-8 text-lg font-semibold">
            <a href="/content/about" class="hover:text-gray-800">About</a>
            <a href="/content/my_home" class="hover:text-gray-800">My Home</a>
            <a href="/content/tech" class="hover:text-gray-800">Tech</a>
        </nav>
    </div>
</header>