---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="About | HimaJin No Tararira">
    <div>
        <h1>About Us</h1>
        <p >This is the about page content.</p>
    </div>
</BaseLayout>