---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="MyHome | HimaJin No Tararira">
    <div>
        <h1>My Home</h1>
        <p>Welcome to my home page.</p>
    </div>
</BaseLayout>