---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Tech | HimaJin No Tararira">
    <div>
        <h1>Tech</h1>
        <p>This is the Tech page.</p>
    </div>
</BaseLayout>